<article data-id="{{ post.ID }}" class="tease-vacature">
    <main class="tease-vacature-main">
        <strong>
            {{ post.title }}
        </strong>
        <p>
            {{ post.content|excerpt(25) }}
        </p>
        <p>
            {{ post.meta('locatie') }}
        </p>
    </main>
    <aside class="tease-vacature-aside">
        <a href="{{ post.link }}" class="button">
            {{ __('Bekijk vacature', 'ppmm') }}
        </a>
    </aside>
</article>
