<article data-id="{{ post.ID }}" class="tease-vacature">
    <main class="tease-vacature-main">
        <strong class="block mb-4">
            {{ post.title }}
        </strong>
        <p>
            {{ post.content|excerpt(25) }}
        </p>
        <aside class="flex">
            {% if post.meta('locatie') %}
                <span class="tease-vacature__usp">{{ post.meta('locatie')|capitalize }}</span>
                <span class="tease-vacature__usp-sep mx-2">
                    {% include "templates/parts/home/separator.twig" %}
                </span>
            {% endif %}
            {% if post.meta('soort_dienstverband') %}
                <span class="tease-vacature__usp">{{ post.meta('soort_dienstverband') }}</span>
                <span class="tease-vacature__usp-sep mx-2">
                    {% include "templates/parts/home/separator.twig" %}
                </span>
            {% endif %}
            <span class="tease-vacature__usp">{{ post.meta('salaris') }}</span>
        </aside>
    </main>
    <aside class="tease-vacature-aside">
        <a href="{{ post.link }}" class="button">
            {{ __('Bekijk vacature', 'ppmm') }}
        </a>
    </aside>
</article>
